// font
$exo: "Exo 2.0", "Arial", sans-serif;
$trebuchet: "Trebuchet", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-curious-blue: #1698d9;
$c-picton-blue: #2ea8e6;
$c-dogwood-rose: #d91667;
$c-cerise-red: #e62e7a;
$c-granite-gray: #666666;
$c-nobel: #b3b3b3;
$c-unmellow-yellow: #ffff66;
$c-concrete: #f2f2f2;

// width
$w-site-wrapper-dt: 1116px;
$w-site-wrapper-mb: 340px;
$w-layout-dt: 1280px;
$w-layout-mb: 375px;
$w-goods-item-dt: 320px;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
